<div class="row justify-content-center">
  <div class="col-10 col-md-5 col-lg-5 home-section">
    <h2 tabindex="0">What is Snapdragon?</h2>
    <p tabindex="0">Add intro section Text to the Systems</p>
  </div>
  <div class="col-10 col-md-5 col-lg-5 home-section">
    <h2 tabindex="0">Pronouns?</h2>
    <p tabindex="0">
      System member intro section pronouns. Please make a section for yourself
      and your pronouns. Like, SoAndSo users
      <span class="pronouns">it/its</span> pronouns, but accepts
      <span class="pronouns">they/them</span> or
      <span class="pronouns">its name.</span>
    </p>
  </div>
  <div class="row mx-auto justify-content-center">
    <div class="col-10">
      <h2 tabindex="0">Links Grid</h2>
      <div links-grid></div>
    </div>
  </div>
</div>
